<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="a52e3e37-de13-42d0-96eb-fd5515f3d6ce"
            Publisher="CN=Richard"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>OverheadInfrastructure2D</DisplayName>
    <PublisherDisplayName>Richard</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="OverheadInfrastructure2D.App">
        <VisualElements
            DisplayName="OverheadInfrastructure2D"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="OverheadInfrastructure2D"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>